.favorite {
  min-height: 98vh;
  padding: 150px 3% 40px;
}

.no-fav {
  background: rgba(0, 0, 0, 0.4);
  margin: 150px auto;
  padding-top: 30px;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}